.schema-dash-animation {
  stroke-dasharray: 5 6;
  animation-name: dashes;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes dashes {
  0% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 11;
  }
}
